.login {
  border: 5px solid black;
  border-radius: 100px;
  margin: 10% 35% 0 35%;
  background-color: white;
}

.loginform {
  margin-left: 25%;
}

.submit {
  margin-left: 20%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(202, 169, 243);
}

.submit:hover {
  background-color:rgb(109, 130, 247);
}

.title {
  margin-left: -7%;
}

.input {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

body {
  background-image: linear-gradient(rgb(202, 169, 243),rgb(109, 130, 247));
  background-attachment: fixed;
}
