/* Header styles */
header {
background-color: #333;
color: #fff;
display: flex;
justify-content: space-between;
padding: 1rem;
}

/* Navigation styles */
nav {
display: flex;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
}

nav ul li {
margin-left: 1rem;
}

nav ul li:first-child {
margin-left: 0;
}

nav ul li a {
color: #fff;
text-decoration: none;
}

nav ul li a:hover {
text-decoration: underline;
}

.img{
    width: 70%;
    height: 40%;
    /* border: 5px solid black; */
}
.item{
    border: 3px solid black;
    width: 30%;
    /* max-height: 20%; */
    height: 450px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
    height: 20%;
    align-content: center;
    justify-content: space-evenly;
}
body{
    margin: 0;
padding: 0;
font-family: Arial, sans-serif;
box-sizing: border-box;
    background-color: lightcyan;
}
.title{
    align-content: center;
    text-align: center;
}
.imgview{
    width: 20%;
    height: 10%;
    border: 5px solid black;
}
.btn{
    border: 3px solid black;
    max-width: 40%;
    border-radius: 10px;
    
}
.btn:hover{
    background-color: lightcyan;
}
.header{
    align-content: center;
    text-align: center;
}
#comments{
    overflow-y: scroll;

    width: 50%;
    height: 50%;


    flex-wrap: wrap;
  }

input[type=submit]:disabled  {
    pointer-events: none;
    background-color: #666;
    opacity: 0.3;

}
/* Password form styles */
.addManager {
    width:40%;
margin-top: 2rem;
margin-left:30%;
}

.addManager form {
display: flex;
flex-direction: column;
align-items: center;
}

.addManager h3 {
font-size: 1.5rem;
margin-bottom: 1rem;
}

.addManager input[type=password] {
padding: 0.5rem;
margin-bottom: 1rem;
border-radius: 0.5rem;
border: 1px solid #ccc;
width: 100%;
}
.addManager input[type=text] {
padding: 0.5rem;
margin-bottom: 1rem;
border-radius: 0.5rem;
border: 1px solid #ccc;
width: 100%;
}

.addManager input[type=submit] {
background-color: #333;
color: #fff;
border: none;
border-radius: 0.5rem;
padding: 0.5rem 1rem;
cursor: pointer;
}

.addManager input[type=submit]:hover {
background-color: #444;
}
