/* form styling */

/* Header styles */
header {
background-color: #333;
color: #fff;
display: flex;
justify-content: space-between;
padding: 1rem;
}

/* Navigation styles */
nav {
display: flex;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
}

nav ul li {
margin-left: 1rem;
}

nav ul li:first-child {
margin-left: 0;
}

nav ul li a {
color: #fff;
text-decoration: none;
}

nav ul li a:hover {
text-decoration: underline;
}




body{
    margin: 0;
padding: 0;
font-family: Arial, sans-serif;
box-sizing: border-box;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
}
header {
background-color: #333;
color: #fff;
display: flex;
justify-content: space-between;
padding: 1rem;
}
.title{
    align-content: center;
    text-align: center;
}
.imgview{
    width: 20%;
    height: 10%;
    border: 5px solid black;
}
.btn{
    border: 3px solid black;
    max-width: 40%;
    border-radius: 10px;
    
}
.btn:hover{
    background-color: lightcyan;
}
.header{
    align-content: center;
    text-align: center;
}


input[type=submit]:disabled  {
    pointer-events: none;
    background-color: #666;
    opacity: 0.3;

}
/* Password form styles */
.sellerForm {
    width:40%;
margin-top: 2rem;
margin-left:20%;
}

.sellerForm form {
display: flex;
flex-direction: column;
align-items: center;
}

.sellerForm h3 {
font-size: 1.5rem;
margin-bottom: 1rem;
}

.sellerForm input[type=password] {
padding: 0.5rem;
margin-bottom: 1rem;
border-radius: 0.5rem;
border: 1px solid #ccc;
width: 100%;
text-align: center;

}
.sellerForm input[type=text] {
padding: 0.5rem;
margin-bottom: 1rem;
border-radius: 0.5rem;
border: 1px solid #ccc;
width: 100%;
text-align: center;
}
.sellerForm select {
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
padding: 0.5rem;
margin-bottom: 1rem;
border-radius: 0.5rem;
border: 1px solid #ccc;
width: 100%;
text-align: center;
}
.sellerForm input[type=file] {
background-color: #333;
color: #fff;
border: none;
border-radius: 0.5rem;
padding: 0.5rem 1rem;
cursor: pointer;
width:100%;
text-indent: 37%;
}

.sellerForm input[type=submit] {
background-color: #333;
color: #fff;
border: none;
border-radius: 0.5rem;
padding: 0.5rem 1rem;
cursor: pointer;
}

.sellerForm input[type=submit]:hover {
background-color: #444;
}