

.img{
    width: 70%;
    height: 40%;
    /* border: 5px solid black; */
}
.item{
    border: 3px solid black;
    width: 30%;
    /* max-height: 20%; */
    height: 450px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
    height: 20%;
    align-content: center;
    justify-content: space-evenly;
}
body{
    background-image: linear-gradient(rgb(143, 244, 240),rgb(125, 241, 168));
    background-attachment: fixed;
}
.title{
    align-content: center;
    text-align: center;
}
.imgview{
    width: 20%;
    height: 10%;
    border: 5px solid black;
}
.btn{
    border: 3px solid black;
    max-width: 40%;
    border-radius: 10px;
    
}
.btn:hover{
    background-color: lightcyan;
}
.header{
    align-content: center;
    text-align: center;
}